.intro
	display: block
	width: 100%
	min-height: 100vh
	padding: 1em 0
	background: rgba(229, 13, 5, 0.7) url("../images/bg.jpg") no-repeat
	background-size: cover
	background-blend-mode: darken
	h1 + p
		font-size: 1.4em
		margin: 2.3em auto
		max-width: 74%
		text-align: center
	&.unfixed
		position: static
		+ canvas
			margin-top: 0

.subsection
	position: static
	top: 0
	max-width: 760px
	margin: 0 auto
	padding: 1.2em
	line-height: 1.5
	color: #fff
	height: 100vh
	&.active
		position: fixed
		width: 75%
		margin: 0 0 0 -37.5%
		left: 50%